h1
  {
    text-align:center;
    font-size: 3vw;
    font-family: 'Courier New', Courier, monospace;
  }
  
  html, body
  {
    width:100%;
    height:100%;
    margin:auto;
    font-family: 'Times New Roman', Times, serif;
  }
  
  body
  {
    background-size: 120%;
    background-repeat: "true";
    background-image: url(https://st3.depositphotos.com/8843414/12510/v/950/depositphotos_125102580-stock-illustration-circle-molecular-structure-science-background.jpg);
  }

  td
  {
    width:5%;
    height:auto;
    padding:3px;
  }

  .symbol
  {
    text-align:center;
    font-size: 2vw;
  }

  .atomic-number
  {
    vertical-align:bottom;
    font-size: 1vw;
  }

  .mass
  {
    text-align:right;
    font-size: 1vw;
  }

  p
  {
    margin:0;
  }
  .spacing{
    margin-top:1%;
  }

  table
  {
    width:90%;
    margin:auto;
    height:auto;
  }

  .color1
  {
    background-color: rgb(94, 45, 207);
    border:2px solid white;
  }

  .color2
  {
    background-color: orange;
    border:2px solid white;
  }

  .color3
  {
    background-color: rgb(167, 255, 167);
    border:2px solid  white;
  }

  .color4
  {
    background-color: rgb(177, 168, 129);
    border:2px solid  white;
  }

  .color5
  {
    background-color: rgb(255, 159, 242);
    border:2px solid  white;
  }

  .color6
  {
    background-color: #F2A4A5;
    border:2px solid  white;
  }

  .color7
  {
    background-color: rgb(8, 66, 255);
    border:2px solid  white;
  }

  .color8
  {
    background-color: rgb(255, 0, 0);
    border:2px solid  white;
  }

  .color9
  {
    background-color: rgb(131, 205, 255);
    border:2px solid  white;
  }

  .color10
  {
    background-color: #F96874;
    border:2px solid  white;
  }

  .color11
  {
    background-color:rgb(24, 110, 24);
    border:2px solid  white;
  }